@font-face {
    font-family: 'Jujutsu Kaisen';
    src: url('JujutsuKaisen.woff2') format('woff2'),
        url('JujutsuKaisen.woff') format('woff'),
        url('Jujutsu Kaisen.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

